Repository Team-TMB/client, pull requests merged in 2024-03, with the labels that each got.

#60 [Feature] 댓글 기능 1차 작업 완료
  src/components/comment/Comment.scss
  src/components/comment/Comment.tsx
  src/components/comment/CommentList.tsx
  src/components/comment/CommentListItem.scss
  src/components/comment/CommentListItem.tsx
  src/lib/api/commonAPI.ts
  src/lib/api/todayAPI.ts
Labels: Feature

#58 [Feature/Docs] common button 컴포넌트 추가 및 common components 스토리북 문서화
  .storybook/main.ts
  .storybook/preview.ts
  src/components/common/Button.scss
  src/components/common/Button.tsx
  src/components/common/Header.stories.tsx
  src/components/common/SubMenu.stories.tsx
  src/components/common/TeamCards.scss
  src/components/common/TeamCards.tsx
  src/components/common/Text.stories.tsx
  src/components/common/Text.tsx
  src/components/common/Title.stories.tsx
  src/components/common/Title.tsx
  src/components/signup/SignupStepOne.tsx
  src/components/signup/SignupStepTwo.tsx
  src/stories/Button.stories.ts
  src/stories/Buttonexample.stories.ts
  src/stories/Header.stories.ts
  src/stories/Headerexample.stories.ts
  src/stories/Headerexample.tsx
  src/stories/Page.tsx
  src/stories/TeamCards.stories.ts
  src/stories/Text.stories.ts
  src/stories/Title.stories.ts
  src/styles/colors.scss
Labels: documentation, Feature

#61 [Design] 채팅 UI 작업 중간 PR
  public/images/chatgift.svg
  public/images/chatheaderarrow1.svg
  public/images/chatheaderarrow2.svg
  public/images/chatmenumodalshape.svg
  public/images/chatspeaker.svg
  public/images/chatvote.svg
  public/images/inputbutton.svg
  public/images/inputmodalbutton.svg
  public/images/tokenicon.svg
  public/images/voteellipse.svg
  src/app/match/chat/page.scss
  src/app/match/chat/page.tsx
  src/components/chat/ChatHeader.scss
  src/components/chat/ChatHeader.tsx
  src/components/chat/ChatInput.scss
  src/components/chat/ChatInput.tsx
  src/components/chat/ChatSection.scss
  src/components/chat/ChatSection.tsx
  src/components/chat/FloatingArea.scss
  src/components/chat/FloatingArea.tsx
  src/components/chat/chatlog/ChatBubble.scss
  src/components/chat/chatlog/ChatLog.scss
  src/components/chat/dummy.ts
  src/components/chat/modals/MenuModal.scss
  src/components/chat/modals/MenuModal.tsx
  src/components/chat/modals/PostShoutModal.scss
  src/components/chat/modals/PostShoutModal.tsx
  src/components/chat/modals/PostVoteModal.scss
  src/components/chat/modals/PostVoteModal.tsx
  src/components/chat/modals/TokenButton.scss
  src/components/chat/modals/TokenButton.tsx
  src/components/chat/modals/VoteModal.scss
  src/components/chat/modals/VoteModal.tsx
  src/lib/store/chat/menuModalState.ts
  src/styles/animation.scss
  src/styles/colors.scss
Labels: Html&Css

#62 Feature: ReactQueryDevTools 적용
  src/components/common/Layout.tsx
Labels: Feature

#66 [Feature] 헤더 정보값 노출 및 x-small 버튼 추가
  src/app/mypage/page.tsx
  src/components/common/Button.scss
  src/components/common/Button.tsx
  src/components/common/Header.scss
  src/components/common/Header.tsx
  src/components/common/Modal.scss
  src/lib/api/commonAPI.ts
  src/lib/hooks/usePath.ts
  src/lib/store/userDataState.ts
  src/lib/util/getLocalStorage.ts
  src/stories/Button.stories.ts
Labels: Feature, Html&Css

#67 [!HOTFIX] header 오류 수정
  src/components/common/Header.tsx
  src/lib/util/getLocalStorage.ts
Labels: bug

#68 [Design] 디자인 수정사항 반영 및 팀 카드 리스트 공통 컴포넌트 생성
  src/components/chat/modals/PostShoutModal.scss
  src/components/chat/modals/PostVoteModal.scss
  src/components/chat/modals/TokenButton.scss
  src/components/common/Button.scss
  src/components/common/Button.tsx
  src/components/common/Modal.scss
  src/components/common/Modal.tsx
  src/components/common/TeamCardsList.scss
  src/components/common/TeamCardsList.tsx
  src/components/signup/SignupStepOne.scss
  src/components/signup/SignupStepOne.tsx
  src/components/signup/SignupStepTwo.scss
  src/stories/Button.stories.ts
Labels: Html&Css

#70 [Feature] 오늘의 승부예측 타이머 기능 구현
  src/components/comment/Comment.tsx
  src/components/comment/CommentList.tsx
  src/components/comment/CommentListItem.tsx
  src/components/today/ScoreListItem.scss
  src/components/today/ScoreListItem.tsx
  src/lib/api/todayAPI.ts
  src/lib/store/comment/store.ts
  src/lib/store/today/store.ts
  src/lib/util/Timer.ts
Labels: Feature, Html&Css

#72 [Feature] 회원가입 API 연동 및 스타일링
  public/images/signupIcon.svg
  src/components/common/Button.scss
  src/components/common/TeamCards.scss
  src/components/common/TeamCards.tsx
  src/components/common/TeamCardsList.tsx
  src/components/signup/SignupSection.scss
  src/components/signup/SignupSection.tsx
  src/components/signup/SignupStepOne.scss
  src/components/signup/SignupStepOne.tsx
  src/components/signup/SignupStepTwo.scss
  src/components/signup/SignupStepTwo.tsx
  src/lib/api/commonAPI.ts
  src/lib/api/instance.ts
  src/lib/api/signupAPI.ts
  src/lib/util/signupValid.ts
Labels: Feature

#75 [Feature] 마이페이지 UI 개발 및 API 연동
  public/images/1.svg
  public/images/10.svg
  public/images/2.svg
  public/images/3.svg
  public/images/4.svg
  public/images/5.svg
  public/images/6.svg
  public/images/7.svg
  public/images/8.svg
  public/images/9.svg
  public/images/confetti.svg
  public/images/fairypolygon.svg
  public/images/levelicon_1.svg
  public/images/levelicon_2.svg
  public/images/levelicon_3.svg
  public/images/levelicon_4.svg
  public/images/levelicon_5.svg
  src/app/mypage/page.tsx
  src/components/mypage/MypageChangeTeam.scss
  src/components/mypage/MypageChangeTeam.tsx
  src/components/mypage/MypageFairyRecord.scss
  src/components/mypage/MypageFairyRecord.tsx
  src/components/mypage/MypageMenu.scss
  src/components/mypage/MypageMenu.tsx
  src/components/mypage/MypagePresentRecord.scss
  src/components/mypage/MypagePresentRecord.tsx
  src/components/mypage/MypageProfile.scss
  src/components/mypage/MypageProfile.tsx
  src/components/mypage/MypageSection.scss
  src/components/mypage/MypageSection.tsx
  src/components/mypage/presentDummy.ts
  src/lib/api/mypageAPI.ts
Labels: Feature, Html&Css

#73 [Feature] Chat 외치기 컴포넌트 생성
  src/components/chat/ChatSection.tsx
  src/components/chat/chatlog/ShoutBubble.scss
  src/components/chat/chatlog/ShoutBubble.tsx
  src/components/chat/modals/PostShoutModal.scss
  src/components/chat/modals/PostShoutModal.tsx
  src/components/chat/modals/PostVoteModal.scss
  src/components/chat/modals/PostVoteModal.tsx
  src/components/common/Modal.scss
  src/styles/animation.scss
Labels: Feature, Html&Css

#78 Feature: 월간 승리요정 중간 PR
  src/app/match/month/page.tsx
  src/components/month/Loser.scss
  src/components/month/Loser.tsx
  src/components/month/Month.scss
  src/components/month/Month.tsx
  src/components/month/Winner.scss
  src/components/month/Winner.tsx
Labels: Html&Css

#83 [Bug] 프로필 이미지 출력
  next.config.js
  src/components/common/Header.scss
  src/components/common/Header.tsx
  src/components/mypage/MypageProfile.scss
  src/components/mypage/MypageProfile.tsx
  src/components/mypage/MypageSection.tsx
Labels: bug
